.btn{
  background-color: aqua;
  border: none;
  padding: 5px;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card{
  max-width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.price{
  color: rgb(255, 115, 0);
}
.productImage{
  width: 100%;
}

.likeBtn{
  background-color: green;
  color: white;
}

.unLikeBtn{
  background-color: slategray;
  color: white;
}

.circle{
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
}

.card1{
  width: 400px;
  height: 40px;
}
.card1 .title{
  background-color: gray;
  padding: 10px;
}
